<div class="container">
  <h1>custom directive..</h1>
  <hr>
  <div class="form-group">
    <label><h4>age:---</h4></label>
    <input type="number" appCheckAgeDirective name="age-validation" class="form-control" > <!--  appCheckAgeDirective -- it is a directive name here we add directive -->
  </div>
  <hr>
  <div class="form-group">
    <label><h4>salary:---</h4></label>
    <input type="number" appSallaryCheck name="salary-validation" class="form-control" > <!--  appSallaryCheck -- it is a directive name here we add directive -->
  </div>
</div>